<!-- Time Travelling -->
<div class="col position-fixed w-100" style="top: 0; left: 0">
  <div class="row">
    <div *ngIf="timeTravel" class="position-absolute text-center text-white w-100">{{ Today.toString().slice(0, 25) }}</div>
    <div class="col pt-2 pb-2"
         (touchstart)="onTimeTravelClick(true, -1)"
         (touchend)="onTimeTravelClick(false, -1)">&nbsp;</div>
    <div class="col pt-2 pb-2"
         (touchstart)="onTimeTravelClick(true, 1)"
         (touchend)="onTimeTravelClick(false, -1)">&nbsp;</div>
  </div>
</div>

<!-- Navigation -->
<div class="row text-white" style="margin-top: 96px;">
  <div class="d-flex flex-row justify-content-center w-100">
    <fa-icon class="mr-2 ml-2" style="font-size: 2rem"
             [icon]="faCheck"
             [style.opacity]="tab == ZebraTodoListTab.COMPLETED ? 1 : 0.5"
             (click)="onTabClick(ZebraTodoListTab.COMPLETED)"></fa-icon>
    <fa-icon class="mr-2 ml-2" style="font-size: 2rem"
             [icon]="faCalendarAlt"
             [style.opacity]="tab == ZebraTodoListTab.TODAY ? 1 : 0.5"
             (click)="onTabClick(ZebraTodoListTab.TODAY)"></fa-icon>
    <fa-icon class="mr-2 ml-2" style="font-size: 2rem"
             [icon]="faClock"
             [style.opacity]="tab == ZebraTodoListTab.SCHEDULED ? 1 : 0.5"
             (click)="onTabClick(ZebraTodoListTab.SCHEDULED)"></fa-icon>
  </div>
  <div class="font-weight-bold text-center text-uppercase w-100">{{ tab }}</div>
</div>

<!-- List -->
<div class="col">
  <div *ngFor="let day of daysByTab[tab]">
    <div [style.opacity]="day.toDateString() != Today.toDateString() ? 1 : 0" class="text-center">
      <span class="badge badge-dark mb-2 mt-3 ml-auto mr-auto" style="font-size: inherit; font-weight: inherit">
        {{ day.toDateString() }}
      </span>
    </div>
    <div *ngFor="let task of tasksByTab[tab][day.toDateString()]; let i = index"
         class="row position-relative bg-white pl-3 pr-3 align-items-center" style="height: 3rem"
         [routerLink]="'/edit/' + task.$ID">
      <fa-icon class="mr-3"
               [icon]="task.Complete ? faCheckCircle : faCircle" style="font-size: 120%"
               [ngClass]="{ 'text-success': task.Complete }"
               (click)="onCompleteClick($event, task)"></fa-icon>
      <span style="line-height: 1">
        <span>{{ task.Name }}</span><br/>
        <small class="text-muted">{{ task.TimeStartInMinutes | time }} ~ {{ task.TimeEndInMinutes | time }}</small>
      </span>
      <span *ngIf="i < tasksByTab[tab].length - 1"
            class="position-absolute border-bottom" style="width: calc(100% - 2rem); bottom: 0"></span>
    </div>
  </div>

  <div *ngIf="!daysByTab[tab] || daysByTab[tab].length == 0" class="pt-5 text-center text-white">
    {{
        IsTutorial ? 'Press the + button to add a new task' :
        tab == ZebraTodoListTab.COMPLETED ? 'Good luck on finishing your tasks!' :
        tab == ZebraTodoListTab.TODAY ? 'Enjoy your rest today :)' :
        tab == ZebraTodoListTab.SCHEDULED ? 'Press the + button to add a new task' : ''
    }}
  </div>
</div>

<div class="position-fixed w-100" style="bottom: 1rem; left: 0;">
  <div class="container position-relative">
    <div class="row justify-content-end" style="height: 3rem;">
      <div routerLink="/new" class="d-flex align-items-center justify-content-center bg-white shadow rounded-circle mr-3" style="width: 3rem; height: 3rem;">
        <fa-icon class="text-info" [icon]="faPlus"></fa-icon>
      </div>
    </div>
  </div>
</div>
