.zebra-background {
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.zebra-background img {
  top: -16px;
  left: -16px;
  min-height: 100%;
  min-width: 100%;
  filter: blur(8px);
  transform: scale(1.2);
}
